#Welcome Note:

Welcome students to this session of the  continuation of Python training
Begin by asking them how their holiday went and reminding
them of their feedback on desire to learn more topics in Python.
Tell we would be covering the fellowing topics:

*   Tuple
*   Set

Setup:

As usual, have them setup their PCs, Braille display, and anyother assistive device. Students should communicate any assistance needed or possible constraints for adequate weigh in.

#Task 0: Overview of todayâ€™s tasks   

1. Recall Exercise
2. Tuple
3. Set

#Task One: Recall Exercise - Previous Lectures

##Retrieval Questions:

  a. Take a few minutes to reflect on the
     material covered in the course of these training. Including concepts you worked on during the holiday.

 b. Say concepts, terms, and important points
     you remember (Any way that feels natural to
     you.)

c. Point out places you seek more  clarification.

d. Propose the most effective teaching methods for optimizing the learning process (optional).

## Collation of Ideas:


> Instructors should collect these information for further review and to serve as design guides.

#Task Two: Tuple (Student should defined their learning goals)

##Tuple Explained
Tuple is a data structure which acts and behaves like a List. They share similarities. There are two very important differences between both:

1.   Enclosed in parentheses () Vs list - enclosed in []
2.   Contents cannot be changed when created. The term used is immutable; Vs list which are.

Use Cases:
In simple terms..
Why do we need it???
Specify

## Example Tuple

Ex1. This code creates a tuple that contains the coordinates of a line with Point A and Point B.

In [ ]:
point_A = (7, 2)
point_B = (1, 5)

print("Point A:",point_A , "\n" "Point B:" , point_B)

Point A: (7, 2)
Point B: (1, 5)

Ex2. This code creates a tuple that contains the coordinate of a single point.

In [ ]:
point_cord = (1, 2)
print(point_cord)

(1, 2)

Ex3. A Polygon (triangle) with vertices at Point X (0, 0), Point Y (3, 0), and Point Z (1, 4). This code creates points for the vertices

> Indented block

In [ ]:
triangle_vertices = ((0, 0), (3, 0), (1, 4))
print(triangle_vertices)

((0, 0), (3, 0), (1, 4))

#Task Three: Tuple Manipulation

##Manipulation details:
Now that we have created some Tuples, let's perform some tuple manipulation like:


1.   Printing
2.   indexing
3.   Concatenation
4.   Repetition

Ex4. Items stored in a tuple are accessed by index, just like list.

In [ ]:
point_cord = (1, 2)
print("x coordinate:", point_cord[0])
print("y coordinate:", point_cord[1])

x coordinate: 1
y coordinate: 2

Ex5. Items stored in a tuple are immutable(remain unchanged) after definition.

In [ ]:
point_cord = (1, 2)
point_cord[0] =22

TypeError: 'tuple' object does not support item assignment



```
Note the response: TypeError: 'tuple' object does not support item assignment
```

EX6. We can Concatenate a tuple.

In [ ]:
new_point = point_cord + (1, 7)
print("Concatenated Tuple:", new_point)

Concatenated Tuple: (1, 2, 1, 7)

Ex7. Finiding the repetition of a tuple. Use the piece of code below to find repetition of the new_point

In [ ]:
repeated_point = new_point * 3
print("repeated Tuple:", repeated_point)

repeated Tuple: (1, 2, 1, 7, 1, 2, 1, 7, 1, 2, 1, 7)

Ex8. Finding the length of a tuple. Use the piece of code behinf to find the length of tuple repeated_point

In [ ]:
tuple_length = len(repeated_point)
print("Tuple Length:", tuple_length)

Tuple Length: 12

#Task Four: Set (Student should defined their learning goals)

##Set Explained
 Set is a data structure which acts and behaves like a List. Just like dictionaries, set are defined using curly braces {}.

Properties of a Set:



1.   Set allows for addition and removal of elements when created. eg.set1_.add(2) or set1_remove(7)
2.   Set does not allow duplicate elements. Meaning an element exist in a set, we cannot add that same element again in that set.

##Valid Sets

Let's look at some example of how to create valid set and invalid set.


These are some valid sets. Students should type along.

# Using curly braces

```
set_1 = {0, 2, 4, 6, 8}
```
# Using the set() constructor
```
set_2 = set([9, 10, 11, 12, 13])
```
# Creating an empty set
```
set_empty= set()
```

# Sets can contain different data types
```
mixed_item_set = {2,(1, 3), 'Lau', 5.29}
```

# When set is created with duplicate elements, duplicates elements removed automatically.

```
duplicates_sets = {1, 4, 4, 9, 7, 7, 5}
```

# A set can contant a single element
```
single_set = {60}
```

##Invalid Sets

# Using square brackets (this creates a list, not a set)

```
invalid_set1 =  [0, 2, 4, 6, 8]
```

# Using the set() constructor with duplicate elements (the duplicates are automatically removed, but this is not a recommended practice)
```
set2_inavlid = set([8, 6, 5, 3])
```
# Empty sets are invalid. This is a dictionary instead.
```
# invalid_empty_set = {}
```

##Basic Set Operations (20 minutes)
Recall set theory in Math. Same operators and logic apply in set. These operations are handy for various application designs like filtering, quering data, comparing logics in Python programming. Some of the basic set operations are:


```
Discuss common set operations:
Union (|)
Intersection (&)
Difference (-)
Symmetric Difference (^)
```

###Union (|)
The union of two sets contain the unique elements from both of the sets. (Open code cell and type.

In [ ]:
set1 = {3, 2, 2, 3, 4}
set2 = {3, 4, 5, 6, 7}

set3_union = set1 | set2
print("Union:", set3_union)

Union: {2, 3, 4, 5, 6, 7}

###Intersection (&)

This basically gives us what is common across the sets. Eg. An intersection of two sets will contain elements that are found in both sets alone.

In [ ]:
my_set1 = {2, 3, 4, 5, 6}
my_set2 = {4, 5, 6, 7, 8}

intersection_set = my_set1 & my_set2
print("Intersection:", intersection_set)

Intersection: {4, 5, 6}

###Difference (-):
Basically, the difference of two sets contains elements that are contained in the first set but are missing in the second.

In [ ]:
my_diff_set1 = {2, 3, 4, 5, 6}
my_diff_set2 = {4, 5, 6, 7, 8}

my_diff_set = my_diff_set1 - my_diff_set2
print("Difference:", my_diff_set)

Difference: {2, 3}

###Symmetric Difference (^):
The symmetric difference of two distinct set contains all elements that are unique to each set.

In [ ]:
sym_set1 = {2, 3, 4, 5, 6}
sym_set2 = {4, 5, 6, 7, 8}

sym_diff_set = sym_set1 ^ sym_set2
print("Symmetric Difference:", sym_diff_set)

Symmetric Difference: {2, 3, 7, 8}

## Set Manipulations.

Just like in the case of list and tuple, we can perform various manipulations using specific built-in methods:

###add():
This method is used to add an element to the set. More like performing set update.(Students should open code cell and type.)

In [ ]:
even_set = {2, 6}

# Adding an element to the set. Lay emphasis on the (dot)
even_set.add(4)

print("New set:", even_set)

New set: {2, 4, 6}

### remove():
This method is used to removing specific element from a  set. Another form of updating the set.

In [ ]:
odd_set = {8, 3, 5, 7}


# Removing element 5 from the set containing odd numbers
odd_set.remove(5)

print("New odd set:", odd_set)

New odd set: {8, 3, 7}

In [ ]:
odd_set.add(2)
print(odd_set)

{2, 3, 7, 8}

###discard():
When trying to remove specified element that is not in the set from a set using remove method (as performed above), python complains (throws error). To solve this we use the discard. Basically, this removes a specifed element from the set if it exist and does not raise error if the element does not exist.

In [ ]:
test_set = {1, 2, 3, 4}

# Let's discard element (3) from the set and see what happens
test_set.discard(3)

print("My new set:", test_set)

# Let's further attempt to discard (5), an element that doesn't exist
test_set.discard(5)
print("My updated set:", test_set)  # No error is raised. Same set returned.

My new set: {1, 2, 4}
My updated set: {1, 2, 4}

###pop():
This method removes and returns an arbitrary element from the set. (open code cell and type along)

In [ ]:
prime_set = {2,3,5,7}

# Pop an arbitrary element from the set
poped_elt = prime_set.pop()

print("Popped element:", poped_elt)
print("My new prime set:", prime_set)

Popped element: 2
My new prime set: {3, 5, 7}