#Task Zero: Overview of Today's task:

Welcome students to today's session. This are the list of concepts to be covered today

1. Review and practice from last lecture (Tuple & Set)
2. String Slicing
3. List Slicing
4. Combining conditions

# Task One: Review from last lecture

##Active recall excercise

 Qa. What is  the main difference between a set and a list:
```
Ans: Set is create with a {} while list is created using [].
```

Qb. What is the difference between a tuple and a set
```
Tuple is created using parentheses(), while set is created using curly bracket {}.
```

Qc. What are two properties of set you know.
```
Ans: Prop1.
Uniqueness: A set cannot contain the same element.
    Prop2:
Cretion style: In Python, we can either create a new set using constructors or by using {}
    Prop3:
Container: A set cannot be empty. Basically, an empty set is considered a dictionary instead.

```
Qd. Can we add an element to a set when it's been created
```
Ans: Yes
```

Qe. Can we add an empty to a tuple when it's been created
```
Ans: No. Tuples are immutable
```

Qf. How tuples different from list

```
Ans:
  dif1:
list are mutable - items can be changed when created but set is not.
  diff2:
list are created with [], while tuple are created with ().

```

##Active Recall 2. (Coding Retrieval)

Qg. Open a code cell and create tuple that contains 5 integer items.

In [ ]:
#tuple containing 5 items
my_tuple = (5,7,8,5,1)
print(my_tuple)

(5, 7, 8, 5, 1)

Qh. Create two sets and find the union of both sets. (students should complete this in code cell)

In [ ]:
#creating of two sets.

my_set1 = {4,6,7,2,2}
my_set2 = {5,6,7,7,4}

#finding the union of sets above
my_set3 = print("The union is:", my_set1 | my_set2)

The union is: {2, 4, 5, 6, 7}

#Task Two: String Slicing


String slicing as the name goes simply mean the process of extracting a string using a specific range of indices. Another term for this is substring. Basically, we can form a new string from the extracted string.



The syntax for string slicing is:

```
sring[start:stop:step]
```
Breakdown:

start: The starting index of the slice (inclusive).

stop: The ending index of the slice (exclusive).

step (optional): The step or increment between characters. Default is 1, increase as desired.

In [ ]:
string= "hihhdlsahkhufhriupfyriuqhiuf"

###Slice One:

Recall the [] syntax for accessing a part of a string. Let's now use this to slice a string. (open and type on code cell).

In [ ]:
#Extracting String "Swift" from string "TaylorSwift"

my_string = "TaylorSwift"
print(my_string[6:11])

Swift

###Slice Two:

We can also extract one character from a string.

In [ ]:
#Extracting a character "S" from string "San Antonio"

my_string1 = "San Antonio"
print(my_string1[0])

S

###Slice Three:

Recall the range function., the [] behaves like the it. We can work get a substring from a string using the range

In [ ]:
my_string = "Examination"
print(my_string[0:7:2])

Eaia

##String Feature

String, in Python are immutable. This basically means they cannot be changed once they are defined. Attempt to do so will throw error

In [ ]:
#Trying to include "a" in string "TaylorSwift" will make python to complain (error raise)

my_string = "TaylorSwift"
my_string[0] = "a"

TypeError: 'str' object does not support item assignment

#Task Three: List Slicing

List slicing in Python behave same as string slicing. It basically allows you to extract a portion from a list.This is achieved by using specified range of indices. Another name for this is sublisting.

The general syntax for list slicing is as follows:



The syntax for List slicing is:

```
List[start:stop:step]
```
Breakdown:

start: The starting index of the slice (inclusive). This means that the element of this index is included in the slicing

stop: The ending index of the slice (exclusive). This mean that the element of this index is not included in this slicing.

step (optional): The step or increment between characters. Default is 1, increase as desired.

###List Slice One:

my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Basic slicing. Extract numbers between 2 and 5
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
slice_1 = my_list[2:6]  # [2, 3, 4, 5]
print(slice_1)

[2, 3, 4, 5]

##List Slice Two:
Let students know tha this will involve slicing with steps.

In [ ]:
# Slicing with step. Extract numbers between 1 and 7 with a step of 2
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
slice_2 = my_list[1:8:2]  # [1, 3, 5, 7]
print(slice_2)

[1, 3, 5, 7]

##List Slice Three:
Explain to students that another for of list slicing will be done. This for involves omitting the start and stop.

In [ ]:
# Omitting start and stop. Extract numbers between 0 and 9 with a step of 2.
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
slice_3 = my_list[::]  # [0, 3, 6, 9]
print(slice_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##List Slice Four:
Explain to student thatw e could use negative integers to in our list slicing.

In [ ]:
# Negative indices. Using negative integers, extract the third  to the last number on the list
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
slice_4 = my_list[-3: -1 ]  # [7, 8]
print(slice_4)

[7, 8]

In [ ]:
#Extracting list from list
my_list = [[0, 1, 2], [3, 4, 5] ,[6, 7, 8],[ 9], [ 9,0]]
newlist = my_list[::2]
print(newlist)

[[0, 1, 2], [6, 7, 8], [9, 0]]

#Task Three: Combining conditions

Explain this concept to students using this three points.

1. We can create complex logical expression using two logical operators
2. Use of 'and','or', and 'not' to do evaluations
3. Evalutions are done simultanously and are sophisticated

##Key Logical Operators:

and: The two separate criteria must both be true for the combined condition to be true.

or: In the event that at least one of the constituent requirements is met, the combined condition is true.


not: This operator negates the condition's outcome; if it is true, it becomes false, and vice versa.

##Using and Operator:
Two conditions are checked using the "and" logical operator:

In [ ]:
'''
Create two variables x and y,Assign integer values 4 and 8 respectively
then write an if statement using logical operator "and" to check if both x>1 and y>2.
if both conditions are true, code should print "Both x and y are greater than 1 and 2".

'''

x = 4
y = 8

if x > 1 and y > 2:
    print("Both x and y are greater than 1 and 2")

Both x and y are greater than 1 and 2

Logic Check:

Ask students this

```

Q1: What will this code print?
Ans: Students should explain the output

Q2: Can you modify the code to print a different message based on the values of x and y?
Ans:Yes.
Using the elif (else if) and else statement to handle different modify the output

Q3: Can you modify this code to check if x and y are equal
Ans: Yes.
if x == y:
  print("x and y are equal.")
else:
  print("x and y are not equal.")
```

##Using or Operator:
The "or" operator combines two conditions. If any is true, then the statement becomes true.

'''
Write a Python program that determines a person's age (25)
stored in a variable and outputs a message if:

The person is under 18 years old. OR
The person is 50 years old or older.
Combine the conditions for these two scenarios using the
or operator in an if statement.
'''

In [ ]:
age = 25

if age < 18 or age >= 50:
    print("You are either under 18 or 50 and older.")

#Emphasize that this code won't run because neither of both scenarios is true.

Sorry

##Using not Operator:

In [ ]:
#Create a boolean variable is_raining and assign False to it.
Write an if
is_raining = False

if not is_raining:
    print("It's not raining.")
else:
  print("Yeeh")

It's not raining.

##Complex equation 1

Write a Python program that uses three integer variables (b, c, and h) and an if statement with the or operator to achieve the following:

Assign any integer values to the variables b, c, and h.

Use an if statement to check a condition involving these variables.

The if statement's condition should be true if at least one of the following is true:

The value of c is less than 21.
The value of h is greater than 20.

If the if statement's condition is true, print the message "Awesome Understanding".

In [ ]:
b = 10
c = 12
h = 18

# Explain this logic. Find below
if ((h> 20) or (c < 21)):
  print ("Awesome Understanding")

Awesome Understanding

Breakdown of task above

```
if ((h > 20) or (c < 21)):
This is an if statement that checks a condition using the or operator

(h > 20): This checks if the value of h is greater than 20. The condition is False

(c < 21): Checks if the value of c is less than 21. The condition is True

Summary:
Since the or operator checks if at least one condition is true,
the entire if statement's condition becomes True because (c < 21) is True

```

##Complex equation 2

In [ ]:
'''
Explain this code. Basically, These three integer values are assigned to the three variable
declared (b,c,h). Then an if statement is written using the comparison and logical operators to
evaluate the statement.
'''

b = 10
c = 12
h = 18

# Explain this logic
if ((h == 20) and ((c < b) or (c > h))):
  print ("Awesome Understanding")
else:
  print("Explain how")

Explain how

Breakdown of code above

```
if ((h == 20) and ((c < b) or (c > h)))
if Statement Condition:

(h == 20): This part checks if the value of h is equal to 20.

((c < b) or (c > h)): This part checks if at least one of the following conditions is true using the or operator:
(c < b): Checks if c is less than b.
(c > h): Checks if c is greater than h.

Combining Conditions:

The entire if statement's condition is true only if:

h is equal to 20 AND
At least one of the following is true:
c is less than b.
c is greater than h.
```

In [ ]:
print (4*3)

12

In [ ]:
print ("Hello " + "Brodi")

Hello Brodi

In [ ]:
name = input ()